html,
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  padding: 0;
  margin: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

fieldset,
img {
  border: 0; }

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-weight: normal;
  font-style: normal; }

ol,
ul {
  list-style: none; }

a {
  text-decoration: none;
  outline: none; }
  a:focus {
    outline: 1px solid #0075ff; }

caption,
th {
  text-align: left; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-size: 100%; }

q:before,
q:after {
  content: ""; }

abbr,
acronym {
  border: 0; }

.nav {
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 2px; }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    list-style-type: none; }
  .nav__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-transform: uppercase;
    padding: 8px 24px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    .nav__item:hover, .nav__item--active {
      cursor: pointer;
      background: rgba(255, 255, 255, 0.1);
      border-radius: 8px;
      color: #9fadc2; }
  .nav__link {
    cursor: pointer;
    color: #fff;
    outline: none;
    -webkit-transition: color 0.5s ease;
    transition: color 0.5s ease; }
    .nav__link:hover {
      color: #9fadc2; }

.nav-sticky {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 30px 0;
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0; }

.nav__link-sticky {
  font-size: 18px;
  font-weight: bold;
  color: black; }

@media screen and (max-width: 999px) {
  .nav-sticky {
    display: none; }
  .nav {
    font-weight: bold;
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 2px;
    opacity: 0;
    -webkit-transition: opacity 0.7s ease;
    transition: opacity 0.7s ease; }
    .nav__list {
      height: 100%;
      width: 100%;
      display: block;
      position: absolute;
      top: 0;
      padding-top: 120px;
      background-color: #0075ff; }
    .nav__item {
      padding: 15px 20px;
      height: 22px;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start; }
    .nav__link:focus {
      outline: 1px solid #fff; } }

.header {
  height: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 24px calc(50% - 470px) 48px;
  background-image: url(../images/header.jpg);
  background-size: cover;
  color: #fff; }
  .header__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-weight: bold;
    font-size: 12px;
    line-height: 32px;
    text-transform: uppercase; }
  .header__logo {
    width: 115px;
    height: 76px;
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain; }
  .header__link {
    position: relative;
    text-decoration: none;
    color: #fff; }
    .header__link--active::after {
      content: "";
      position: absolute;
      height: 0;
      top: calc(100% + 8px);
      left: 0;
      right: 0;
      border: 1px solid #fff; }
  .header__title {
    position: relative;
    top: 100px;
    font-weight: bold;
    font-size: 60px; }
    .header__title::before {
      content: "";
      position: absolute;
      top: -16px;
      height: 2px;
      width: 35px;
      background: #fff;
      border-radius: 2px; }
  .header__phone-img, .header__nav-toggler, .header__nav-toggler-label {
    display: none; }
  .header__nav-toggler-label::before {
    content: "";
    background-image: url(../images/open.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 20px;
    width: 20px;
    position: absolute;
    right: 50px;
    cursor: pointer; }
  .header__nav-toggler:checked ~ .header__title {
    display: none; }
  .header__nav-toggler:checked ~ .header__nav-toggler-label::before {
    opacity: 0; }
  .header__nav-toggler:checked ~ .header__nav-toggler-label::after {
    content: "";
    background-image: url(../images/close.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 20px;
    width: 20px;
    position: absolute;
    right: 50px;
    cursor: pointer; }

@media screen and (max-width: 999px) {
  .header {
    height: 560px; }
    .header__title {
      font-size: 46px;
      line-height: 50px;
      top: 200px;
      margin-left: 10%;
      margin-bottom: 30px; }
    .header__logo {
      width: 73px;
      height: 48px;
      z-index: 1;
      margin-left: auto;
      margin-right: auto; }
    .header__link, .header__phone {
      display: none; }
    .header__phone-img {
      display: inline-block;
      position: absolute;
      height: 20px;
      width: 20px;
      -o-object-fit: contain;
         object-fit: contain;
      margin-top: 15px;
      margin-left: 10%;
      cursor: pointer;
      z-index: 1; }
    .header__nav-toggler-label {
      display: inline-block;
      position: absolute;
      right: 23px;
      top: 32px;
      padding: 0;
      z-index: 1;
      cursor: pointer; }
    .header__nav-toggler:checked ~ .nav {
      opacity: 1; } }

.section {
  position: relative;
  padding: 150px calc(50% - 470px);
  background: #eee;
  scroll-behavior: smooth; }
  .section:nth-child(even) {
    background-color: #fff; }
  .section__heading {
    left: 0;
    right: 0;
    top: -0.5em;
    margin: auto; }

@media screen and (max-width: 999px) {
  .section {
    padding: 100px 8%; } }

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .info__heading {
    width: 328px;
    font-weight: bold;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -1.5px; }
    .info__heading a {
      color: #0075ff; }
  .info__text {
    max-width: 500px;
    font-weight: normal;
    font-size: 16px;
    line-height: 27px;
    color: #3e3e3e; }
    .info__text > :first-child {
      font-weight: bold;
      font-size: 24px;
      line-height: 30px;
      color: #0075ff;
      margin-bottom: 16px; }
    .info__text :last-child {
      font-weight: bold; }

@media screen and (max-width: 999px) {
  .info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .info__heading {
      max-width: 80%;
      margin-bottom: 48px; }
    .info__text {
      max-width: 80%; } }

.heading {
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -1.5px;
  position: absolute;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content; }
  .heading::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    width: 23px;
    height: 16px;
    margin: auto;
    top: calc(100% + 4px);
    background-image: url(../images/crown.svg);
    background-position: center;
    background-repeat: no-repeat; }

.photos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .photos__img {
    width: calc(50% - 10px);
    height: 256px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
    border-radius: 8px; }
    .photos__img--bigger {
      width: calc(67% - 12px); }
    .photos__img--smaller {
      width: calc(33% - 12px); }

@media screen and (max-width: 999px) {
  .photos__img {
    height: 140px;
    width: calc(50% - 20px); } }

@media screen and (max-width: 599px) {
  .photos {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .photos__img {
    width: 100%;
    margin-bottom: 20px; } }

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .gallery__btn {
    width: 47px;
    height: 47px;
    cursor: pointer; }
    .gallery__btn_next {
      background: url(../images/slider-btn/next-btn.png); }
    .gallery__btn_prev {
      background: url(../images/slider-btn/prev-btn.png); }
  .gallery__wrapper {
    display: -webkit-inline-box;
    width: 800px;
    height: 320px;
    overflow: hidden;
    scroll-behavior: smooth; }
  .gallery__item {
    padding: 20px; }
  .gallery__caption {
    margin-top: 24px;
    margin-bottom: 40px; }
    .gallery__caption_link {
      cursor: pointer;
      color: #0075ff;
      font-weight: bold; }
      .gallery__caption_link:active {
        color: #3e3e3e; }
  .gallery__dots-wrap {
    height: 30px;
    width: 70px;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .gallery__dot {
    height: 10px;
    width: 10px;
    background-color: gray;
    border-radius: 50%;
    -webkit-transition: background-color 0.4s linear;
    transition: background-color 0.4s linear; }
    .gallery__dot_active {
      background-color: #0075ff; }
  .gallery__button {
    width: 200px;
    height: 56px;
    margin: 50px auto; }

@media screen and (max-width: 999px) {
  .gallery__btn,
  .gallery__dot,
  .gallery__dots-wrap {
    display: none; }
  .gallery__wrapper {
    display: block;
    width: 90%;
    height: 100%; } }

@media screen and (max-width: 599px) {
  .gallery__caption {
    margin-top: 0; } }

.button {
  display: block;
  font-weight: bold;
  font-size: 16px;
  line-height: 14px;
  border-radius: 8px;
  cursor: pointer;
  color: #0075ff;
  background: #eee;
  border: 2px solid #0075ff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: color 0.5s, background 0.5s, -webkit-box-shadow 0.2s;
  transition: color 0.5s, background 0.5s, -webkit-box-shadow 0.2s;
  transition: color 0.5s, background 0.5s, box-shadow 0.2s;
  transition: color 0.5s, background 0.5s, box-shadow 0.2s, -webkit-box-shadow 0.2s;
  outline: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  .button_view {
    background: #fff; }
  .button:hover {
    color: #eee;
    background: #0075ff; }
  .button:active {
    -webkit-transform: scale(0.9);
            transform: scale(0.9); }
  .button:focus {
    -webkit-box-shadow: 0 0 15px rgba(42, 2, 80, 0.7);
            box-shadow: 0 0 15px rgba(42, 2, 80, 0.7); }

#button__top {
  display: none;
  position: fixed;
  bottom: 50px;
  right: 20px;
  z-index: 3;
  font-size: 18px;
  outline: none;
  padding: 15px;
  border-radius: 50%;
  opacity: 0.4;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  cursor: pointer;
  color: #0075ff;
  background: #eee;
  border: 2px solid #0075ff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: color 0.5s, background 0.5s, -webkit-box-shadow 0.2s;
  transition: color 0.5s, background 0.5s, -webkit-box-shadow 0.2s;
  transition: color 0.5s, background 0.5s, box-shadow 0.2s;
  transition: color 0.5s, background 0.5s, box-shadow 0.2s, -webkit-box-shadow 0.2s; }
  #button__top:hover {
    color: #eee;
    background: #0075ff;
    opacity: 0.8; }
  #button__top:active {
    -webkit-transform: scale(0.9);
            transform: scale(0.9); }
  #button__top:focus {
    -webkit-box-shadow: 0 0 15px rgba(42, 2, 80, 0.7);
            box-shadow: 0 0 15px rgba(42, 2, 80, 0.7); }

@media screen and (max-width: 999px) {
  #button__top {
    position: -webkit-sticky;
    position: sticky;
    font-size: 12px;
    padding: 11px;
    margin-left: 90%; }
    #button__top:focus {
      -webkit-box-shadow: 0 0 9px rgba(42, 2, 80, 0.7);
              box-shadow: 0 0 9px rgba(42, 2, 80, 0.7); } }

.consultation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .consultation__text {
    width: 412px;
    font-weight: normal;
    font-size: 16px;
    line-height: 27px;
    color: #3e3e3e;
    margin-right: 50px; }
  .consultation__heading {
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: #0075ff;
    margin-bottom: 16px; }
  .consultation__form {
    width: 80%;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%; }

@media screen and (max-width: 599px) {
  .consultation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .consultation__text {
      padding-bottom: 30px;
      width: 80%;
      margin-right: 0; } }

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .form__item {
    margin-bottom: 16px; }
  .form__button {
    margin-top: 16px;
    height: 56px; }
  .form__item, .form__button, .form__input {
    width: 100%; }

@media screen and (max-width: 999px) {
  .form {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .form__button {
      width: 200px; } }

@media screen and (max-width: 599px) {
  .form {
    margin: auto; } }

.input {
  height: 48px;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  color: #b9c1ce;
  background: #f7f8ff;
  border: 1px solid #fff;
  border-radius: 8px;
  padding-left: 17px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none; }
  .input:focus {
    color: #000;
    font-weight: bold;
    border: 2px solid #0075ff; }
  .input__textarea {
    height: 144px;
    padding-top: 17px;
    padding-left: 17px; }

.testimonials {
  display: grid;
  grid-gap: 100px;
  grid-template-columns: repeat(3, 270px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

@media screen and (max-width: 999px) {
  .testimonials {
    grid-template-columns: repeat(2, 270px);
    grid-gap: 50px; } }

@media screen and (max-width: 599px) {
  .testimonials {
    grid-template-columns: repeat(1, 270px);
    grid-gap: 50px; } }

.person {
  text-align: center;
  padding: 30px;
  border-radius: 30px;
  cursor: pointer;
  -webkit-transition: background-color 0.5s linear;
  transition: background-color 0.5s linear; }
  .person:hover {
    background-color: #eee; }
  .person__photo {
    width: 153px;
    height: 153px;
    border-radius: 50%;
    background: #f2f2f2; }
  .person__name {
    margin-top: 28px;
    margin-bottom: 4px;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: #0075ff;
    text-shadow: 5px 5px 5px rgba(0, 117, 255, 0.3); }
  .person__position {
    margin-bottom: 13px;
    font-weight: normal;
    font-size: 14px;
    line-height: 27px;
    color: #9fadc2; }
  .person__text {
    font-weight: normal;
    font-size: 16px;
    line-height: 27px;
    color: #3e3e3e; }

@media screen and (max-width: 999px) {
  .person {
    grid-template-columns: repeat(2, 270px);
    grid-gap: 50px; }
  .person:last-child {
    -webkit-transform: translate(60%);
            transform: translate(60%); } }

@media screen and (max-width: 599px) {
  .person:last-child {
    -webkit-transform: translate(0);
            transform: translate(0); } }

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.inform {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content; }
  .inform__text:first-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .inform__text:last-child {
    width: 150px; }
  .inform__title {
    font-weight: normal;
    font-size: 14px;
    line-height: 27px;
    color: #9fadc2;
    text-align: left;
    margin-bottom: 8px; }
  .inform__item {
    font-weight: normal;
    font-size: 16px;
    line-height: 27px;
    color: #3e3e3e; }

@media screen and (max-width: 999px) {
  .inform {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-left: auto; } }

@media screen and (max-width: 599px) {
  .contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .inform {
    margin: 50px auto; } }

.footer {
  height: 360px;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  z-index: -1;
  background-image: url(../images/footer.jpg);
  background-position: center;
  background-size: cover; }
  .footer__logo {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 40px;
    width: 115px;
    height: 76px;
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain; }

html {
  scroll-behavior: smooth; }

body {
  font-family: Roboto, sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

/*# sourceMappingURL=main.css.map */
